<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>{% block title%}{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="{{url_for('static', filename='d_welcome/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="{{url_for('static', filename='d_welcome/css/bootstrap-theme.css')}}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="{{url_for('static', filename='d_welcome/css/elegant-icons-style.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='d_welcome/css/font-awesome.min.css')}}" rel="stylesheet" />
    <!-- full calendar css-->
    <link href="{{url_for('static', filename='d_welcome/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='d_welcome/assets/fullcalendar/fullcalendar/fullcalendar.css')}}" rel="stylesheet" />
    <!-- easy pie chart-->
    <link href="{{url_for('static', filename='d_welcome/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css')}}" rel="stylesheet" type="text/css" media="screen" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="{{url_for('static', filename='d_welcome/css/owl.carousel.css')}}" type="text/css">
    <link href="{{url_for('static', filename='d_welcome/css/jquery-jvectormap-1.2.2.css')}}" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{{url_for('static', filename='d_welcome/css/fullcalendar.css')}}">
    <link href="{{url_for('static', filename='d_welcome/css/widgets.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='d_welcome/css/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='d_welcome/css/style-responsive.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='d_welcome/css/xcharts.min.css')}}" rel=" stylesheet">
    <link href="{{url_for('static', filename='d_welcome/css/jquery-ui-1.10.4.min.css')}}" rel="stylesheet">
    

</head>
<body class="login-img3-body">

    {% block content %}{% endblock %}
    <!-- javascripts -->
    <script src="{{url_for('static', filename='d_welcome/js/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='d_welcome/js/jquery-ui-1.10.4.min.js')}}"></script>
    <script src="{{url_for('static', filename='d_welcome/js/jquery-1.8.3.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='d_welcome/js/jquery-ui-1.9.2.custom.min.js')}}"></script>
    <!-- bootstrap -->
    <script src="{{url_for('static', filename='d_welcome/js/bootstrap.min.js')}}"></script>
    <!-- nice scroll -->
    <script src="{{url_for('static', filename='d_welcome/js/jquery.scrollTo.min.js')}}"></script>
    <script src="{{url_for('static', filename='d_welcome/js/jquery.nicescroll.js')}}" type="text/javascript"></script>
    <!-- charts scripts -->
    <script src="{{url_for('static', filename='d_welcome/assets/jquery-knob/js/jquery.knob.js')}}"></script>
    <script src="{{url_for('static', filename='d_welcome/js/jquery.sparkline.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='d_welcome/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js')}}"></script>
    <script src="{{url_for('static', filename='d_welcome/js/owl.carousel.js')}}"></script>
    <!-- jQuery full calendar -->
    <script src="{{url_for('static', filename='d_welcome/js/fullcalendar.min.js')}}"></script>
    <!-- Full Google Calendar - Calendar -->
    <script src="{{url_for('static', filename='d_welcome/assets/fullcalendar/fullcalendar/fullcalendar.js')}}"></script>
    <!--script for this page only-->
    <script src="{{url_for('static', filename='d_welcome/js/calendar-custom.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.rateit.min.js')}}"></script>
    <!-- custom select -->
    <script src="{{url_for('static', filename='d_welcome/js/jquery.customSelect.min.js')}}"></script>
    <script src="{{url_for('static', filename='d_welcome/assets/chart-master/Chart.js')}}"></script>

    <!--custome script for all page-->
    <script src="{{url_for('static', filename='d_welcome/js/scripts.js')}}"></script>
    <!-- custom script for this page-->
    <script src="{{url_for('static', filename='d_welcome/js/sparkline-chart.js')}}"></script>
    <script src="{{url_for('static', filename='d_welcome/js/easy-pie-chart.js')}}"></script>
    <script src="{{url_for('static', filename='d_welcome/js/jquery-jvectormap-1.2.2.min.js')}}"></script>
    <script src="{{url_for('static', filename='d_welcome/js/jquery-jvectormap-world-mill-en.js')}}"></script>
    <script src="{{url_for('static', filename='d_welcome/js/xcharts.min.js')}}"></script>
    <script src="{{url_for('static', filename='d_welcome/js/jquery.autosize.min.js')}}"></script>
    <script src="{{url_for('static', filename='d_welcome/js/jquery.placeholder.min.js')}}"></script>
    <script src="{{url_for('static', filename='d_welcome/js/gdp-data.js')}}"></script>
    <script src="{{url_for('static', filename='d_welcome/js/morris.min.js')}}"></script>
    <script src="{{url_for('static', filename='d_welcome/js/sparklines.js')}}"></script>
    <script src="{{url_for('static', filename='d_welcome/js/charts.js')}}"></script>
    <script src="{{url_for('static', filename='d_welcome/js/jquery.slimscroll.min.js')}}"></script>
</body>
</html>