{% extends 'dpp.html' %}
{% block names %}{{username}}{% endblock %}

{% block styles %}
	
    <script type="text/javascript">
    
        $(document).ready(function(){
			
			var data = JSON.parse('{{data | tojson}}')
            var date = new Date();
            var d = date.getDay();
            var m = date.getMonth();
			var y = date.getFullYear();/* 
			document.write(data[0].title);
			document.write(data[0].start.m);
			document.write(data[0].end.y);
			document.write(data[0].allDay); */
			var start_date = new Date(Number(data[0].start.y), Number(data[0].start.m - 1), Number(data[0].start.d), Number(data[0].start.h), Number(data[0].start.M), Number(data[0].start.s));
			var end_date = new Date(Number(data[0].end.y), Number(data[0].end.m - 1), Number(data[0].end.d), Number(data[0].end.h), Number(data[0].end.M), Number(data[0].end.s));
			var title = String(data[0].title);
			var all_day = (String(data[0].allDay) == 'true' || String(data[0].allDay) == 'True' ) ? true:false;
			var year = start_date.getFullYear();
			var month = start_date.getMonth();
			var day = start_date.getDate();/* 
			document.write(String(data[0].allDay)); */
			schedule = []
			for( var i = 0; i < data.length; i++){
				var title = String(data[i].title);
				var all_day = (String(data[i].allDay) == 'true' || String(data[i].allDay) == 'True' ) ? true:false;
				var start_date = new Date(Number(data[i].start.y), Number(data[i].start.m - 1), Number(data[i].start.d), Number(data[i].start.h), Number(data[i].start.M), Number(data[i].start.s));
				var end_date = new Date(Number(data[i].end.y), Number(data[i].end.m - 1), Number(data[i].end.d), Number(data[i].end.h), Number(data[i].end.M), Number(data[i].end.s));
				event = {
					title: title,
					start: start_date,
					end: end_date,
					allDay: all_day
				};
				schedule.push(event);
			}
			$('#cal').fullCalendar({
                theme: false,
                header:{
                    left:'prev, next today',
                    center: 'title',
                    right:'month,agendaWeek,agendaDay'
                },
                editable: true,
                events: schedule
            });
            
        });
    </script>
    <style type='text/css'>

        body {
            margin-top: 40px;
            text-align: center;
            font-size: 13px;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            }
    
        #cal {
            width: 900px;
            margin: 0 auto;
            }
    
    </style>
{% endblock %}
{% block content %}
	
	<div class="row">
		<div class="col-lg-12 portlets">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h2><strong>My Schedule</strong></h2>
				</div>
			</div><br><br><br>
			<div class="panel-body">
				<div id='cal'></div>
			</div>
		</div>
	</div>
{% endblock %}